@import "../../vars.css";

.Container {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 1rem 0.875rem 0 #04152d;
  padding: 1.125rem 1.5rem;
  width: 100%;
  max-width: 25rem;
  min-width: 18.75rem;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.Container:hover {
  transform: scale(1.05);
}

.image {
  margin-bottom: 1rem;
  width: 100%;
  height: 15rem;
  border-radius: 0.625rem;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.description {
  margin-top: 0.625rem;
  font-size: 1.125rem;
  font-weight: 400;
  flex: 1;
  text-align: justify;
}

.skills {
  width: 100%;
  margin-top: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  list-style: none;
}

.skill {
  font-size: 1rem;
  font-weight: 300;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 0.125rem 1.25rem;
}

.links {
  width: 100%;
  margin-top: 1.625rem;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 0.0625rem 1.375rem;
}