@import "../../vars.css";

.Container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background:  linear-gradient(180deg,#576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 400px;
    min-width: 300px;      /* Ancho mínimo para uniformidad */
    width: 500px;          /* Ancho fijo */
    min-height: 800px;     /* Alto mínimo para uniformidad */
    height: 520px;         /* Alto fijo */
    margin-top: 100px;
    box-sizing: border-box; /* Incluye padding en el tamaño */
}
.image{
    margin-bottom: 15px;
    width: 250px;
    height: 380px;
    margin-top: 0px;
    transition: transform 0.3s ease; /* Transición suave */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin dist
   
}
.image:hover {
    transform: scale(1.1); /* Aumentar el tamaño en un 20% */
    

}
.title{
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;

}
.description{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    align-items: flex-start; /* Alinea el texto arriba */
    text-align: justify; /* Justifica el texto */
    font-size: 25px;

}
.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20%;
    list-style: none;

}
.skill{
    font-size: 25px;
    font-weight: 300;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 20px;

}
.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;

}
.link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 500;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}