@import "../../vars.css";

.Container{
    margin-top: 90px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    
}
.title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
.Projects{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    
}