@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 120px;
    font-weight: 900;
    margin-bottom: 40px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
    rgba(255,255,255,1)70%,
    rgba(255,255,255,0)120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.title2 {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 20px;
    font-family: var(--font-roboto);
}

.description {
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.contactBtn, .CVBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contactBtn:hover, .CVBtn:hover {
    background-color: var(--color-primary-dark);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.Img {
    width: 20px;
    height: 20px;
}

.fotoPerfil {
    width: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0,0px);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,-0);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px) {
    .container {
        flex-direction: column-reverse;
    }
    .content {
        align-items: center;
    }
}
