@import "../../vars.css";

.container {
  position: relative;
  color: var(--color-text);
  background-color: rgba(12, 12, 12, 0.236);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 8rem;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.title {
  color: var(--color-text);
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.skillImageContainer {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 7.5rem;
}

.skillImageContainer img {
  width: 80%;
  transition: transform 0.3s ease;
}

.skillImageContainer img:hover {
  transform: scale(1.2);
}

.skill p {
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 0.625rem;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
}

.historyItem img {
  width: 3rem;
}

.historyItem img:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 1.2rem;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 0.4rem;
  list-style-position: inside;
  font-size: 1.5rem;
  list-style-type: disc;
  margin-left: 1rem;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .skills {
    width: 100%;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 1rem;
  }

  .container {
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
  .historyItemDetails h3 {
    font-size: 1.5rem;
  }
  .historyItemDetails p {
    font-size: 1rem;
  }
  .historyItemDetails ul {
    font-size: 1.2rem;
  }
}

