@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(67, 65, 65, 0.236);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  backdrop-filter: blur(10px); /* Efecto de difuminado */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

/* Título principal */
.title {
  font-size: 3.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #f5f5f5;
  
}

/* Contenedor de contenido */
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  
}

/* Contenedor de cada imagen para asegurar que no se superpongan */
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  margin-top: 90px;
}

/* Estilo de las imágenes de los iPhones */
.img {
    
  width: 180%;
  transition: transform 0.2s ease;
  border-radius: 10px;
  margin-left: 10%;
}

.img:hover {
  transform: scale(1.15);
}

/* Contenedor de texto */
.textContainer {
 position: relative;
 margin-top: 15px;
 margin-left: 6%;

  padding: 35px;
  text-align: left;
  line-height: 1.6;
  color: #ddd;
  background-color: #5c6a7176;
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Efecto de difuminado */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Subtítulo */
.subtitle {
  font-size: 2.8em;
  margin-bottom: 10px;
  color: #f8b400; /* Color distintivo para subtítulos */
}

/* Texto descriptivo */
.text {
  font-size: 20px;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .imageContainer {
    max-width: 150px;
  }

  .textContainer {
    max-width: 50%;
  }
}