@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(67, 65, 65, 0.236);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 8rem;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

/* Título principal */
.title {
  font-size: 3.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  color: #f5f5f5;
  text-align: center;
}

/* Contenedor de contenido */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Contenedor de cada imagen para asegurar que no se superpongan */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 14.375rem;
}

/* Estilo de las imágenes de los iPhones */
.img {
  width: 100%;
  transition: transform 0.2s ease;
  border-radius: 0.625rem;
}

.img:hover {
  transform: scale(1.15);
}

/* Contenedor de texto */
.textContainer {
  position: relative;
  padding: 2rem;
  text-align: left;
  line-height: 1.6;
  color: #ddd;
  background-color: #5c6a7176;
  border-radius: 0.625rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Subtítulo */
.subtitle {
  font-size: 2.8rem;
  margin-bottom: 0.625rem;
  color: #f8b400;
}

/* Texto descriptivo */
.text {
  font-size: 1.25rem;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .imageContainer {
    max-width: 9.375rem;
  }

  .textContainer {
    max-width: 50%;
  }
}