@import "../../vars.css";

.Container {
  color: var(--color-text);
  margin-top: 7.5rem;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 3.625rem 10%;
  gap: 0.625rem;
}

.txt h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

.txt p {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.125rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1.625rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.09rem;
}

@media screen and (max-width: 830px) {
  .Container {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .txt {
    text-align: center;
  }

  .txt h1 {
    font-size: 3.5rem;
  }

  .txt p {
    font-size: 2rem;
  }

  .links {
    align-items: center;
  }
}


