@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.8rem;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.menuItems a {
  font-size: 1.5rem;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menuItems a:hover {
  color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 12.5rem;
  height: 6.25rem;
  object-fit: contain;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.9) 0%, rgba(25, 55, 109, 1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none;
  }

  .menuOpen {
    display: flex;
    z-index: 3;
  }

  .menuBtn {
    display: block;
  }

  .menuItems {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    width: 100%;
    align-items: center;
  }
}

