/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  height: 100vh; /* Centra el contenido verticalmente */
  background-color: var(--background-color);
}

/* Contenedor del contenido */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espacio entre imagen y texto */
  flex-wrap: wrap; /* Asegura ajuste en pantallas pequeñas */
}

/* Contenedor de la imagen */
.imgContainer {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo de las imágenes */
.img {
  max-width: 250%;
  height: auto;
  border-radius: 10px;
}

/* Título */
.title {
  font-size: 150px;
  color: var(--error-color, #ff0000);
  margin-bottom: 10px;
}

/* Subtítulo */
h2 {
  font-size: 1.5rem;
  color: #929ca5;
  margin: 20px 0;
}

/* Botón */
.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }

  .title {
      font-size: 100px;
  }

  .button {
      font-size: 16px;
      padding: 10px 15px;
  }

  .imgContainer {
      max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .content {
      flex-direction: row;
      justify-content: space-around;
  }

  .title {
      font-size: 120px;
  }

  .button {
      font-size: 18px;
      padding: 12px 20px;
  }

  .imgContainer {
      max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .title {
      font-size: 150px;
  }

  .button {
      font-size: 20px;
      padding: 15px 25px;
  }

  .imgContainer {
      max-width: 300px;
  }
}
