@import "../../vars.css";

.container {
  position: relative;
  color: var(--color-text);
  background-color: rgba(12, 12, 12, 0.236);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  backdrop-filter: blur(10px); /* Efecto de difuminado */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;

}

.title {
  color: var(--color-text);
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.txt {
  color: var(--color-text);
  font-weight: 500;
  letter-spacing: 1.75px;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 45px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 80%;
  
  transition: transform 0.3s ease; /* Transición suave */
}
.skillImageContainer img:hover {
  transform: scale(1.2); /* Aumentar el tamaño en un 20% */
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.Arq h2 {
  margin-top: 50px;
  color: var(--color-text);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.Arq li {
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
}

.Arq h3 {
  display: flex;
  justify-items: center;
  color: var(--color-text);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.75px;
  margin-top: 20px;
  margin-left: 60px;
}

.Arq p {
  margin-left: 60px;
  color: var(--color-text);
  font-size: 20px;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  backdrop-filter: blur(10px); /* Efecto de vidrio esmerilado */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
}

.historyItem img {
  width: 50px;
  
}

.historyItem img:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }

  .container {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    backdrop-filter: blur(15px);
  }
}
