@import "../../vars.css";

.Container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.236);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 8rem;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.339);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.title {
  color: var(--color-text);
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.StudioImage {
  width: 25%;
  margin-right: 3rem;
}

.iconos {
  padding: 1.25rem;
  width: 9.375rem;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 10%;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.25rem;
  list-style: none;
  padding: 3.5rem;
  background-image: linear-gradient(
    90deg,
    rgba(162, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.aboutItem p {
  font-size: 1.5rem;
}

@media screen and (max-width: 830px) {
  .Container {
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .content {
    flex-direction: column;
  }
  .StudioImage {
    display: none;
  }
  .aboutItems {
    margin-top: 2rem;
    margin-left: 0;
  }
  .aboutItem {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
  .aboutItem h3,
  .aboutItem p {
    font-size: 1.2rem;
  }
}

